<header class="header pt-2 pt-md-3 pb-2 pb-md-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="dashboard">
                    <img src="./assets/images/Logo1.svg"/>
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <app-avatar class="comp-avatar" type="icon" initial="M"></app-avatar>
                <a class="logout" role="button" (click)="account()">Cuenta</a>
            </div>
        </div>
    </div>
</header>