<div class="alert fade show" *ngIf="isVisible"  [ngClass]="getTypeClass()">
    <div class="icon">
        <mat-icon [fontIcon]="typeIcon"></mat-icon>
    </div>
    <div class="detail">
        <h4 *ngIf="title !== ''" class="mat-subtitle-1">{{title}}</h4>
        <p *ngIf="description !== ''" class="mat-body-1">{{description}}</p>
        <a *ngIf="link !== ''" [href]="link">{{textLink}}</a>
        <ng-content></ng-content>
    </div>
    <button  *ngIf="showClose" class="close" mat-icon-button aria-label="Close" (click)="dismiss()">
        <mat-icon>close</mat-icon>
    </button>
</div>