@use 'sass:map';
@import '@angular/material/theming';

$qdorado-palette: (
  50: #FFF,
  100: #FFFBFF,
  200: #FFEFD0,
  300: #FFDF93,
  400: #EDC148,
  500: #CFA62E,
  600: #B28C0E,
  700: #947300,
  800: #765B00,
  900: #594400,
  A100: #3E2E00,
  A200: #241A00,
  A400: #0B0800,
  contrast: ()
);

$qmorado-palette: (
  50: #FFF,
  100: #FFFBFF,
  200: #FFEBF7,
  300: #FFD7F5,
  400: #FFABF2,
  500: #F481E8,
  600: #D567CC,
  700: #B74CB0,
  800: #9A3295,
  900: #7D127B,
  A100: #5B005A,
  A200: #380038,
  A400: #0D010D,
  contrast: ()
);

$qverde-palette: (
  50: #FFF,
  100: #F5FEFF,
  200: #CDF8FF,
  300: #90F1FF,
  400: #4ED8E9,
  500: #21BCCD,
  600: #00A0AE,
  700: #008490,
  800: #006973,
  900: #004F57,
  A100: #00363C,
  A200: #001F23,
  A400: #010B0D,
  contrast: ()
);

$red-palette: (
  50: #FFF,
  100: #FFFBFF,
  200: #FFEDEA,
  300: #FFDAD6,
  400: #FFB4AB,
  500: #FF897D,
  600: #FF5449,
  700: #DE3730,
  800: #BA1A1A,
  900: #93000A,
  A100: #690005,
  A200: #410002,
  A400: #000000,
  contrast: ()
);

$yellow-palette: (
  50: #FFF,
  100: #FFFCF7,
  200: #FFF7E8,
  300: #FFEED1,
  400: #FFDDA4,
  500: #FFCD76,
  600: #FFBC49,
  700: #FFAB1B,
  800: #E28E00,
  900: #A96B00,
  A100: #714700,
  A200: #382400,
  A400: #000000,
  contrast: ()
);

$green-palette: (
  50: #FFF,
  100: #FFFCF7,
  200: #F1F6F4,
  300: #E4EDEA,
  400: #C5DAD4,
  500: #A1C6BA,
  600: #72AF9D,
  700: #00957A,
  800: #00856D,
  900: #00735E,
  A100: #005E4D,
  A200: #004236,
  A400: #000000,
  contrast: ()
);

$blue-palette: (
  50: #FFF,
  100: #F1F4F8,
  200: #E4EAF2,
  300: #C5D3E5,
  400: #A1B9D8,
  500: #729BC9,
  600: #0277BA,
  700: #016AA6,
  800: #015C90,
  900: #014B75,
  A100: #003553,
  A200: #00253A,
  A400: #000000,
  contrast: ()
);

$grey-palette: (
  50: #FFF,
  100: #F4F5F5,
  200: #EAEBEC,
  300: #D3D6D7,
  400: #BABEC0,
  500: #9DA3A6,
  600: #798388,
  700: #6C7579,
  800: #5D6569,
  900: #4C5256,
  A100: #363A3C,
  A200: #26292B,
  A400: #000000,
  contrast: ()
);

$gray-palette: $grey-palette;